<?php
require_once "partials/header.php";
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ======REMIX ICON======== -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="assets/static/bootstrap/css/bootstrap.min.css">

    <!--============== CSS================ -->
    <link rel="stylesheet" href="assets/static/css/nav.css">
    <link rel="stylesheet" href="assets/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="assets/static/fontawesome/css/all.min.css">


    <title>Document</title>
</head>
<body>
    

<!-- CALL TO ACTION -->
<section>
<div class="container-fluid hero-section " style="background-image:url('./assets/static/images/login_img.jpg'); background-repeat: no-repeat; background-size: cover; height:90vh; width:100vw";>
    <div class="row flex-column p-5" style="height:90vh">
        <div class="col">
        <h1 class="hero-title">When Every <br> Second counts...</h1>
        </di

        <div class="col widget-writeup-container mt-5">
        <p class="widget-writeup">Whether you need ambulance services, medical first responders, <br> Fire emergency responders , or emergency response planning and safety <br>
        services, choose Eko Response. Choose life.</p>
        </div>

        <div class="button-carrier col" >
            <div class="row">
            <div class="col-2 btn btn-dark">
                <a href="tel:07033296785">
               <span><i class="ri-phone-fill"></i></span> <span>Call Us</span>
                </a>
            </div>
            <div class="col-md-2">
                <input type="button" class="btn btn-primary" value="Explore Quick Response">
            </div>
            </div>
        </div>
        
    </div>
</div>
</section>


<!-- ================TOP SECTION================== -->
<section>
    <div class="row top-section ">
        <div class="col-md d-flex align-items-center">
            <div class="col-md top-section-img">
                <img src="./assets/static/images/discussion.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-md d-flex align-items-center widget-writeup-container" style="background-color: #FFC4;">
            
            <div class="left-quote" >
            <!-- <i class="ri-double-quotes-l"></i>  -->
            <img src="./assets/static/images/top_quote.png" alt="">
            </div>
            <div class="col-md ">
                <h2 class="top-section-writeup">When my colleague collapsed and started seizing during a meeting, we had no idea what to do! Luckily, I had heard about ERA so I quickly called. They came in just a few minutes, revived her and immediately took her to hospital.</h2>
            </div>
            <div class="right-quote">
                <!-- <i class="ri-double-quotes-r"></i> -->
                <img src="./assets/static/images/bottom_quote.png" alt="">
            </div>
        </div>

    </div>
</section>

<!--================MID SECTION====================-->
<section class="mid-section" style="height: 100vh; background-color: #FFC4;">
    <div class="row mt-5">
        <div class="col-md">
            <div class="col-md">
                <h5>Protect What Matters the most</h5> 
                <p><b>Eko Response</b>offers access to the largest network of First Responders, emergency vehicles, and verified emergency-ready hospitals, powered by a world-class Command, Control, Communications, and Intelligence software platform. Our technology ensures smart dispatching, seamless communication and data transfer from end to end, making sure patients get the right help at the right time. Your emergency is our emergency and we will be there to help.</p>                   
            </div>
        </div>
        <div class="col-md ">
        <div>
            <div class="">
            <img src="./assets/static/images/mid-section.jpg" class="rounded-circle" alt="">
            </div>
            <div>
            <img src="./assets/static/images/midsection.jpg" class="rounded-pill" alt="">
            </div>
        </div>

    </div>
</section>
















</body>
</html>


<?php
require_once "partials/footer.php";
?> 