/* GOOGLE FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

    /* =============VARIABLE CSS============ */
    :root{
        --header-height:3.5rem;

    /* ================COLOR================ */
    /* COLOR MADE HSL(hue, saturation, lightness) */
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);


    /* ==========FONTS AND TYPOGRAPHY============*/
    /* .5rem = 8px | 1rem = 16px */
    --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem

    /*========== FONT WEIGTH =================*/

    --font-regular: 400;
    --font-semi-bold: 600;

    /* ============z INDEX=========== */
    --z-tooltip: 10;
    --z-fixed: 100;
    }

@media screen and (min-width: 1024px){
    :root{
        --normal-font-size:1rem;
    } 
    }

    /* ==========BASE============== */
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
 
    body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    }
 
  a{
        text-decoration: none;
    }

     /* =========REUSABLE CSS CLASSES=========== */
    .container{
        max-width: 100%;
        /* margin-inline: 1.5rem; */
    }

     /* ================NAV =====================*/
    .nav{
        height: var(--header-height);
         font-weight: initial;
        font-size: 1.5rem;
        background-color: #FFFFFFC4;
        position: fixed;
        top: 0px;
        z-index: var(--z-fixed);
    }

    .nav__logo{
        color: var(--black-color);
    }
    .nav__logo:hover{
         text-decoration: none;
    }
     .nav__data{
        /* height: 100%; */
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav__logo i{
        font-weight: initial;
        font-size: 2.25rem;
    }

   