:root{
  --button1:white;
  --button2: #c22f7d;
  --button3: white;

  --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    /* COLOR MADE HSL(hue, saturation, lightness) */
    --black-color: hsl(220, 24%, 12%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --body-color: hsl(220, 100%, 97%);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.8rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

 /*========== FONT WEIGTH =================*/

    --font-regular: 400;
    --font-semi-bold: 600;

}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
div {
  /* border: 2px solid red; */
  /* min-height: 50px; */
  /* width: 100%; */

}

a{
  text-decoration: none;}

.container,
.container-fluid {
  /* border: 2px solid black; */
}

.row {
  /* border: 2px solid blue; */
}

section {
  border: solid 2px green;
}

header {
  border: solid 2px yellow;
}


.button1{
  background-color: var(--button);
  color: #c22f7d;
  cursor: pointer;
  font-weight: 400;
  vertical-align: middle;
  border-color: #c22f7d;
  text-align: center;
  border-radius: 5px;
  width: 100px;
}

.button2{
  background-color: var(--button2);
  color: white;
  cursor: pointer;
  font-weight: 400;
  border-color: orange;
  text-align: center;
  border-radius: 5px;
  width: 130px;
}

.button3{
  background-color: var(--button2);
  color: white;
  cursor: pointer;
  font-weight: 400;
  border-color: orange;
  text-align: center;
  border-radius: 5px;
  width: 50%;
  padding: 16px 16px;
}


/* ***********************NAVIGATION BAR *********************/
a{
  text-decoration: none;
}
.nav__logo{
        color: var(--black-color);
    }
.nav__logo{
        display: inline-flex;
        align-items: center;
        column-gap: .25rem;
        font-weight: var(--font-semi-bold);
    }
.nav__logo i{
        font-weight: initial;
        font-size: 1.25rem;
    }        

input[type=search] {
  width: 200px;
  border: 2px solid #c22f7d;
  border-radius: 20px;
  
  background-color: white;
  background-image: url('images/search.png');
  background-position: 160px 10px;
  background-repeat: no-repeat;
  padding: 5px 5px 5px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}



/*BANNER AREA*/
.banner-area {
  width: 100%;
  
}

.inner-banner {
  width: 100%;
  /* height: 500px; */
  background-color: #faf7fa;

}

.banner-area-3 {
  width: 100%;
  /* height: 20vh; */
}

.inner-banner-area {
  width: 100%;
  /* height: 200px; */

}



.inner-volunteer-card {
  width: 100%;
}


/*DASHBOARD*/
body {
  border: 2px solid pink;
  background-color: #eef1f6;
  /* min-height: 100vh; */
}


.dash-board-main {
  min-height: 100vh;
}

.dash-inner-1 {
  min-height: 500px;
}

.dashboard {
  min-height: 100vh;
  width: 100%;
}

.dashboard-card {
  min-height: 250px;
  /* width: 100%; */
}

.table-div {
  width: 100%;
}

.dashboard-cards{
  background-color: #faf7fa;
  border-radius: 5px;
}


/* USER NOTIFICATION PANE */
.testimonial-card-img {
  max-width: 40px;
}


/* DASHBOARD IMAGE */
.biola{
  width: 50px;
  height: 50x;
  border-radius: 50%;
}

.biola img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.customer-table{
  max-height: 60vh;
  overflow-y: auto;
}